*.o
addKBO
basis
buildParams
detect
fits2ascii
fresnelBox
fresnelT
fresnelTA
hideKBO
hideKBO_TA
komplete
libdetection
libfft-fftw
libfft-gsl
libstatistics
makeKernel
offsetPattern
xchi
xcorrelate
fres-*
test/
*.dSYM
.gdb_history

